[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-redis = "*"
gunicorn = "*"
redis = "*"
djongo = "*"
django-import-export = "*"
django-leaflet = "*"
django-geojson = "*"
djangorestframework = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
